- if @albuns.size == 0 &&  @bandas.size == 0
  %p Nenhum resultado.
  %br/
- if @albuns.size > 0
  %h2 Bandas
  %ul
    - @bandas.each do |banda|
      %li
        = link_to banda.nome, banda_path(banda)
- if @albuns.size > 0
  %h2 Álbuns
  %ul
    - @albuns.each do |album|
      %li
        = link_to album.nome, album_path(banda)
= link_to "Voltar", "javascript:back()"
