<p><%= @torrents.size %> torrents</p>
<% @torrents.each do |torrent| %>
  <p>
    <%= link_to "#{torrent.nome}", torrent.link.url, { :rel => 'nofollow' } %>
    <%= "#{torrent.total_seeds} seeds" %>
  </p>
<%  end %>