%br/
%br/
#menu{:style => "float:left; width:280px; padding: 15px; border-right: 1px dashed black; margin-right: 30px;"}
  = link_to(image_tag("baixosom.jpg", :border=>0), "/")
  %p
    O BaixoSom é uma inspirada embarcação de referência aos diversos coletivos
    que organizam e distribuem conteúdo pela Internet -
    especialmente às comunidades de Discografias censuradas.
    %br/
    Uma idéia não morre. Viva o P2P!
  = render :partial => "layouts/links"
#meiuca
  = yield
