%meta{:content => "_FJXdH6RvWXD7OkAUL2OMu_YIQbWMFHkTCALH2GPqWk", :name => "google-site-verification"}/
:javascript
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
:javascript
  try {
    var pageTracker = _gat._getTracker("UA-3761913-8");
    pageTracker._trackPageview();
  } catch(err) {}
