<table class="rodape">
  <tr>
    <td height="10px" width="280px">
      <div id="stats" style="font-size:13px">
      <%= "#{@users_count} pessoas > #{@bandas_count} bandas > #{@albuns_count} álbuns" %>
    </div>
    </td>
    <td align="center" style="font-size:13px">
      Copyleft BaixoSom v0.6
    </td>
    <td width="280px">
      &nbsp;
    </td>
  </tr>
</table>