%table.rodape
  %tr
    %td{:height => "10px", :width => "280px"}
      #stats{:style => "font-size:13px"}
        = "#{@users_count} pessoas > #{@bandas_count} bandas > #{@albuns_count} álbuns"
    %td{:align => "center", :style => "font-size:13px"}
      Copyleft BaixoSom v0.6
    %td{:width => "280px"}
      \&nbsp;
